APP_ID=craft-test
SECURITY_KEY=test-security-key
DB_DSN=mysql:host=127.0.0.1;port=3306;dbname=replace-database
DB_DRIVER=mysql
DB_SERVER=127.0.0.1
DB_PORT=3306
DB_DATABASE=replace-database
DB_USER=replace-user
DB_PASSWORD=replace-password
DB_SCHEMA=
DB_TABLE_PREFIX=
